# Send all responses in utf-8
AddDefaultCharset utf-8
# Allow directory browsing
Options +Indexes

#Use url rewriting
RewriteEngine on
# Base directory for rewritng
RewriteBase /AdvWebProject/
# Example
RewriteRule ^src/evaluation-(.*)$ src/EvaluationController.php?eval_id=$1
#RewriteRule ^src/question-(.*)-(.*)$ src/QuestionController.php?quiz_id=$1question_id=$2
